.example-container {
    height: 100%;
  }
  
  mat-sidenav {
    width: 250px;
    background-color: #333;
  }
  
  mat-sidenav-content {
    padding: 20px;
  }
  

  mat-toolbar {
    display: flex;
    justify-content: space-between; /* Deixa o botão à esquerda e o texto à direita */
    align-items: center; /* Alinha o conteúdo verticalmente */
  }
  
  .toolbar-text {
    flex-grow: 1; /* Faz o texto ocupar o máximo de espaço possível */
    text-align: center; /* Centraliza o texto */
  }
  

  mat-icon-button {
    margin-right: 10px;
  }
  
  mat-icon {
    margin-right: 10px;
  }
  