<mat-sidenav-container class="example-container">
  <!-- Menu lateral -->
  <mat-sidenav #sidenav mode="side" [opened]="isMenuOpen">
    <mat-nav-list>
      <a mat-list-item  routerLink="novaLista">
        <mat-icon>dashboard</mat-icon>
        Criar Nova Lista
      </a>
      <a mat-list-item routerLink="editarLista">
        <mat-icon>settings</mat-icon>
        Editar Lista
      </a>
    </mat-nav-list>
    
  </mat-sidenav>

  <!-- Conteúdo principal -->
  <mat-sidenav-content>
    <mat-toolbar color="primary">
  <!-- Botão para alternar o menu -->
  <button mat-icon-button (click)="toggleMenu()">
    <mat-icon>{{ isMenuOpen ? 'keyboard_arrow_left' : 'menu' }}</mat-icon>
  </button>

  <!-- Texto centralizado -->
  <span class="toolbar-text">Faz a Listinha e vá comprar-</span>
  
</mat-toolbar>

    <div class="content">
      <router-outlet></router-outlet> 
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
